@import 'helpers';

.user-profile {
  span {
    font-size: 14px;
  }
}

.mat-toolbar {
  position: relative;

  h1 {
    max-height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.mat-sidenav {
  overflow: visible !important;

  .mat-list .mat-list-item {
    position: relative;
    color: $white;
    transition: background-color .4s ease-in-out,
                color .4s ease-in-out;

    &::before {
      content: '';
      width: 0;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: $sun;
      transition: width .4s ease-in-out;
    }

    .mat-list-item-content {
      transition: padding .4s ease-in-out;
    }

    &.active {
      color: $metal;
      background-color: $white;

      .mat-list-item-content {
        padding-left: 22px;
        padding-right: 10px;
      }

      &::before {
        width: 6px;
        background-color: $fire;
      }
    }

    &:not(.active):hover {
      &::before {
        width: 6px;
      }
    }
  }
}

.powered-by {
  width: 100%;
  position: absolute;
  bottom: 12px;
  left: 0;
  text-align: center;
  color: $white;

  img {
    height: 32px;
    margin-top: 6px;
  }
}