<mat-toolbar color="primary" fxLayout fxLayoutAlign="space-between center">
  <button type="button" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Company Logo / Name</h1>
  <div fxLayout fxLayoutAlign="center center">
    <div class="user-profile mr18" fxLayout fxLayoutAlign="center center">
      <!-- <img class="mr18" src="" alt=""> -->
      <mat-icon class="mr18">person</mat-icon>
      <span>tmsstaff@joblogic.com</span>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="accountMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>account_circle</mat-icon>
        <span>Account information</span>
      </button>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Log Off</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-list>
      <mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon mat-list-icon>work</mat-icon>
        <h4 mat-line>Jobs</h4>
      </mat-list-item>
      <mat-list-item routerLink="/visits" routerLinkActive="active">
        <mat-icon mat-list-icon>nature_people</mat-icon>
        <h4 mat-line>Visits</h4>
      </mat-list-item>
      <mat-list-item routerLink="/quotes" routerLinkActive="active">
        <mat-icon mat-list-icon>format_quote</mat-icon>
        <h4 mat-line>Quotes</h4>
      </mat-list-item>
      <mat-list-item routerLink="/invoices" routerLinkActive="active">
        <mat-icon mat-list-icon>assignment</mat-icon>
        <h4 mat-line>Invoices</h4>
      </mat-list-item>
      <mat-list-item routerLink="/sites" routerLinkActive="active">
        <mat-icon mat-list-icon>business</mat-icon>
        <h4 mat-line>Sites</h4>
      </mat-list-item>
      <mat-list-item routerLink="/customer" routerLinkActive="active">
        <mat-icon mat-list-icon>people</mat-icon>
        <h4 mat-line>Customer</h4>
      </mat-list-item>
      <mat-list-item routerLink="/dashboards" routerLinkActive="active">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <h4 mat-line>Dashboards</h4>
      </mat-list-item>
      <mat-list-item routerLink="/engineer-tracking" routerLinkActive="active">
        <mat-icon mat-list-icon>map</mat-icon>
        <h4 mat-line>Engineer Tracking</h4>
      </mat-list-item>
    </mat-list>
    <a class="powered-by" href="" fxLayout="column" fxLayoutAlign="center center">
      <i>WebLogic powered by</i>
      <img src="assets/svg/joblogic_logo.svg" alt="">
    </a>
  </mat-sidenav>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>