<div class="m-12" fxLayout fxLayoutWrap>
  <div class="p12" fxLayout fxFlex="50" *ngFor="let job of jobs | async">
    <mat-card fxFill>
      <mat-card-title fxLayout fxLayoutAlign="space-between center">
        <a routerLink="/">{{ job.number }}</a>
        <mat-chip-list>
          <mat-chip>Suspended</mat-chip>
        </mat-chip-list>
      </mat-card-title>
      <mat-card-content class="m-12" fxLayout fxLayoutWrap>
        <div class="ph12 pt12" fxFlex="100" fxFlex.gt-sm="50">
          <h3>Customer</h3>
          <table class="table-2-col">
            <tr>
              <td>Name:</td>
              <td>1ST CHOICE COMMERCIAL</td>
            </tr>
            <tr>
              <td>Address:</td>
              <td>29 MURRELL GREEN BUSINESS PARK, LONDON ROAD, HOOK, HAMPSHIRE</td>
            </tr>
            <tr>
              <td>Postcode:</td>
              <td>RG27 9GR</td>
            </tr>
          </table>
        </div>
        <div class="ph12 pt12" fxFlex="100" fxFlex.gt-sm="50">
          <h3>Contact</h3>
          <table class="table-2-col">
            <tr>
              <td>Name:</td>
              <td>DARREN WENHAM</td>
            </tr>
            <tr>
              <td>Telephone:</td>
              <td>0208 5870 000</td>
            </tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
</mat-paginator>