<div class="m-12" fxLayout fxLayoutWrap>
    <div
      class="p12"
      fxLayout
      fxFlex="50"
      *ngFor="let job of jobs | async"
    >
      <mat-card fxFill>
        <mat-card-title fxLayout fxLayoutAlign="space-between center">
          <a routerLink="/" >{{ job.number }}</a>
          <mat-chip-list>
            <mat-chip>Suspended</mat-chip>
          </mat-chip-list>
        </mat-card-title>
        <mat-card-content class="m-12" fxLayout fxLayoutWrap>
          <div class="ph12 pt12" fxFlex="100" fxFlex.gt-sm="50">
            <h3>Customer</h3>
            <table class="table-2-col">
              <tr>
                <td>Name:</td>
                <td>DESTINY FOODS (CLASSIC CATERING)</td>
              </tr>
              <tr>
                <td>Site:</td>
                <td>(ENGINEERS ) HOME ADDRESS</td>
              </tr>
              <tr>
                <td>Telephone:</td>
                <td>7917731604</td>
              </tr>
              <tr>
                <td>Contact:</td>
                <td>COLIN</td>
              </tr>
              <tr>
                <td>Account Number:</td>
                <td>CLASSICC</td>
              </tr>
              <tr>
                <td>Order Number:</td>
                <td>D</td>
              </tr>
            </table>
          </div>
          <div class="ph12 pt12" fxFlex="100" fxFlex.gt-sm="50">
            <h3>Address</h3>
            <table class="table-2-col">
              <tr>
                <td>Address:</td>
                <td>95 WATERS ROAD, CATFORD. LEWISHAM, LONDON</td>
              </tr>
              <tr>
                <td>Postcode:</td>
                <td>SE6 1UH</td>
              </tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
  </mat-paginator>