@import 'helpers';

section {
  @include backdrop($black, .7);
  @include bg-size(cover);
  height: 100%;
  width: 100%;
  min-height: 460px;

  >div {
    width: 100%;
    max-width: 500px;
  }

  .copyright {
    width: 100%;
    position: absolute;
    bottom: 12px;
    left: 0;
    color: $white;
    text-align: center;
  }
}

i {
  color: $white;
  span {
    display: none;
  }
}

a {
  h3 {
    font-weight: normal;
    margin-bottom: 6px;
  }
  img {
    height: 40px;
  }
}

.mat-form-field {
  width: 100%;
}