<section
  fxLayout
  fxLayoutAlign="center center"
  [ngStyle]="{'background-image': 'url(./assets/images/log_in.jpg)'}"
>
  <div>
    <mat-card>
      <form>
        <mat-form-field>
          <input matInput placeholder="Username" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" required>
        </mat-form-field>
        <mat-checkbox>Remember Me!</mat-checkbox>
        <div fxLayout fxLayoutAlign="center">
          <button mat-raised-button color="primary">Log On</button>
        </div>
      </form>
    </mat-card>
    <div class="mb30" fxLayout fxLayoutAlign="end center">
      <i>Version: 7.0.0.1</i>
    </div>
    <a
      href="https://www.joblogic.com/"
      target="_blank"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <h3>
        <i>WebLogic powered By <span>Joblogic</span></i>
      </h3>
      <img src="assets/svg/joblogic_logo.svg" alt="JobLogic">
    </a>
  </div>

  <a class="copyright" href="https://www.joblogic.com/">Copyright © 2017 JobLogic</a>
</section>