<mat-card>
  <form fxLayout fxLayoutAlign="space-between center" fxLayoutWrap fxLayoutGap.gt-xs="30px" fxLayoutWrap.gt-md="false">
    <mat-form-field fxFlex="100" fxFlex.gt-xs="auto">
      <input matInput placeholder="Search" value="Sushi">
    </mat-form-field>
    <mat-form-field fxFlex="100" fxFlex.gt-xs="auto">
      <mat-select placeholder="Status" multiple>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="100" fxFlex.gt-xs="auto">
      <mat-select placeholder="Area" multiple>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="100" fxFlex.gt-xs="auto">
      <mat-select placeholder="Job Type" multiple>
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="100" fxFlex.gt-xs="auto">
      <mat-select placeholder="Task Type">
        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="100" fxFlex.gt-xs="auto">
      <input matInput [matDatepicker]="startDate" placeholder="Start date">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field fxFlex="100" fxFlex.gt-xs="auto">
      <input matInput [matDatepicker]="endDate" placeholder="End date">
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate></mat-datepicker>
    </mat-form-field>
    <div fxFlex="100" fxLayout fxLayoutAlign="space-between center" fxLayoytWrap>
      <div>
        <label class="mr12"><b>Filter Date by</b></label>
        <mat-radio-group fxLayoutGap.gt-xs="12px">
          <mat-radio-button value="1">Date Logged</mat-radio-button>
          <mat-radio-button value="2">Est. App. Date</mat-radio-button>
          <mat-radio-button value="2">Date Complete</mat-radio-button>
        </mat-radio-group>
      </div>
      <button mat-raised-button color="accent" type="submit">Search</button>
    </div>
  </form>
</mat-card>

<div class="m-12" fxLayout fxLayoutWrap>
  <div
    class="p12"
    fxLayout
    fxFlex="100"
    fxFlex.gt-sm="50"
    *ngFor="let job of jobs | async"
  >
    <mat-card fxFill>
      <mat-card-title><a routerLink="/" >{{ job.number }}</a></mat-card-title>
      <mat-card-content class="m-12" fxLayout fxLayoutWrap>
        <div class="p12" fxFlex="100" fxFlex.gt-sm="50">
          <h3>Site</h3>
          <table class="table-2-col">
            <tr>
              <td>Customer:</td>
              <td>{{ job.site.customer }}</td>
            </tr>
            <tr>
              <td>Site:</td>
              <td>{{ job.site.site }}</td>
            </tr>
            <tr *ngIf="job.site.postcode">
              <td>Postcode:</td>
              <td>{{ job.site.postcode }}</td>
            </tr>
            <tr>
              <td>Area:</td>
              <td>{{ job.site.area }}</td>
            </tr>
          </table>
        </div>
        <div class="p12" fxFlex="100" fxFlex.gt-sm="50">
          <h3>Job</h3>
          <table class="table-2-col">
            <tr *ngIf="job.job.description">
              <td>Description:</td>
              <td>{{ job.job.description }}</td>
            </tr>
            <tr>
              <td>Status:</td>
              <td>{{ job.job.status }}</td>
            </tr>
            <tr *ngIf="job.job.job_type">
              <td>Job Type:</td>
              <td>{{ job.job.job_type }}</td>
            </tr>
            <tr *ngIf="job.job.task_type">
              <td>Task Type:</td>
              <td>{{ job.job.task_type }}</td>
            </tr>
            <tr *ngIf="job.job.order_number">
              <td>Order Number:</td>
              <td>{{ job.job.order_number }}</td>
            </tr>
            <tr *ngIf="job.job.date_logged">
              <td>Date Logged:</td>
              <td>{{ job.job.date_logged }}</td>
            </tr>
            <tr *ngIf="job.job.appointement_date">
              <td>Appointment Date:</td>
              <td>{{ job.job.appointement_date }}</td>
            </tr>
            <tr *ngIf="job.job.estimated_completion">
              <td>Estimated Completion:</td>
              <td>{{ job.job.estimated_completion }}</td>
            </tr>
            <tr *ngIf="job.job.completion_date">
              <td>Completion Date:</td>
              <td>{{ job.job.completion_date }}</td>
            </tr>
            <tr *ngIf="job.job.contact">
              <td>Contact:</td>
              <td>{{ job.job.contact }}</td>
            </tr>
            <tr *ngIf="job.job.telephone">
              <td>Telephone:</td>
              <td>{{ job.job.telephone }}</td>
            </tr>
          </table>
        </div>
        <div class="ph12" fxFill>
          <h3>Visits</h3>
          <div *ngIf="!job.visits">This job currently has no visits</div>
          <div *ngIf="job.visits">
            <div *ngFor="let visit of job.visits">
              <span>{{ visit.name }}</span>
              <span>{{ visit.status }}</span>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
</mat-paginator>