<nav class="mb18">
  <ul fxLayout>
    <li>
      <a mat-raised-button color="primary" routerLink="/jobs">Search</a>
    </li>
    <li class="ml18">
      <a mat-raised-button color="primary" routerLink="/jobs/search-by-asset">Search by Assets</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>