@import 'helpers';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';
@include mat-core();
$primary: mat-palette($mat-red);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-yellow, A700);

$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);

.mat-sidenav-container {
  width: 100%;
  height: calc(100% - 64px);
}

.main-content {
  padding: 18px;
}

.mat-list-item {
  cursor: pointer;
  outline: none;
}

.mat-card {
  .mat-card-title {
    margin-top: -24px !important;
    margin-bottom: 0;
    margin-left: -24px;
    margin-right: -24px;
    padding: 6px 24px;
    background-color: $lighten-metal;
    color: $white;

    span {
      font-size: 14px;
      margin-left: 18px;
    }
  }
}

.mat-sidenav {
  background-color: $metal;
}