$white: #fff;
$black: #000;

$sun: #ffdd00;
$lighten-sun: lighten($sun, 10%);
$darken-sun: darken($sun, 10%);
$fire: #ef3f3d;
$lighten-fire: lighten($fire, 10%);
$darken-fire: darken($fire, 10%);
$water: #0099a5;
$lighten-water: lighten($water, 10%);
$darken-water: darken($water, 10%);
$metal: #072d3d;
$lighten-metal: lighten($metal, 10%);
$darken-metal: darken($metal, 10%);
$green: #70bc2e;
$lighten-green: lighten($green, 10%);
$darken-green: darken($green, 10%);
$gray: #e1e1e1;
$lighten-gray: lighten($gray, 10%);
$darken-gray: darken($gray, 10%);

$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1600px;
