@import 'fonts';
@import 'helpers';
@import 'custom-material';
@import 'shapes';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

table {
  border-spacing: 0;
  width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

section,
footer {
  padding: 0 12px;
}

$sizes: h, v, t, r, b, l, 0;
@each $size in $sizes {
  @for $i from 5 through 0 {
    @if $size != 0 {
      .m#{$size}#{$i * 6} {
        @if $size == t {
          margin-top: $i *6px;
        } @else if $size == r {
          margin-right: $i * 6px;
        } @else if $size == b {
          margin-bottom: $i * 6px;
        } @else if $size == l {
          margin-left: $i * 6px;
        } @else if $size == v {
          margin-top: $i * 6px;
          margin-bottom: $i * 6px;
        } @else if $size == h {
          margin-right: $i * 6px;
          margin-left: $i * 6px;
        }
      }
      .p#{$size}#{$i * 6} {
        @if $size == t {
          padding-top: $i *6px;
        } @else if $size == r {
          padding-right: $i * 6px;
        } @else if $size == b {
          padding-bottom: $i * 6px;
        } @else if $size == l {
          padding-left: $i * 6px;
        } @else if $size == v {
          padding-top: $i * 6px;
          padding-bottom: $i * 6px;
        } @else if $size == h {
          padding-right: $i * 6px;
          padding-left: $i * 6px;
        }
      }
    } @else if $size == 0 {
      .m#{$i * 6} { margin: $i * 6px; }
      .p#{$i * 6} { padding: $i * 6px; }
    }
  }
}

.m-12 {
  margin-left: -12px;
  margin-right: -12px;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.table-2-col {
  td:first-child {
    padding-right: 12px;
    font-weight: 600;
  }

  &:not(.prices) {
    td:first-child {
      width: 1%;
      white-space: nowrap;
    }
  }

  &.prices {
    text-align: right;

    td:last-child {
      width: 1%;
      white-space: nowrap;
    }
  }

  tr:hover {
    background-color: $lighten-gray;
  }

  td {
    vertical-align: top;
  }
}