<nav class="mb18">
  <ul fxLayout>
    <li>
      <a mat-raised-button color="primary" routerLink="/engineer-tracking/live">Live Tracking</a>
    </li>
    <li class="ml18">
      <a mat-raised-button color="primary" routerLink="/engineer-tracking">Historical</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>