@import 'helpers';

agm-map {
  min-height: 300px;
  height: calc(100vh - 223px);
}

.mat-expansion-panel-body {
  max-height: calc(100vh - 265px);
  overflow-y: scroll;
}

.mat-expansion-panel-header,
.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
  background-color: $green !important;
}

.mat-expansion-panel-header-title,
.mat-expansion-indicator::after {
  color: $white;
  letter-spacing: 2px;
}

.mat-expansion-panel .mat-list .mat-list-item .mat-list-item-content {
  padding: 0;
}

p {
  span:first-of-type {
    color: $fire;
  }

  span:nth-of-type(2) {
    color: $metal;
  }
}