<div class="m-12" fxLayout fxLayoutWrap>
    <div
      class="p12"
      fxLayout
      fxFlex="100"
      *ngFor="let job of jobs | async"
    >
      <mat-card fxFill>
        <mat-card-title><a routerLink="/" >{{ job.number }}</a></mat-card-title>
        <mat-card-content class="m-12" fxLayout fxLayoutWrap>
          <div class="ph12 pt12" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="33.3333">
            <h3>Site</h3>
            <table class="table-2-col">
              <tr>
                <td>Customer:</td>
                <td>{{ job.site.customer }}</td>
              </tr>
              <tr>
                <td>Site:</td>
                <td>{{ job.site.site }}</td>
              </tr>
              <tr *ngIf="job.site.postcode">
                <td>Postcode:</td>
                <td>{{ job.site.postcode }}</td>
              </tr>
              <tr>
                <td>Area:</td>
                <td>{{ job.site.area }}</td>
              </tr>
            </table>
          </div>
          <div class="ph12 pt12" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="33.3333">
            <h3>Job</h3>
            <table class="table-2-col">
              <tr *ngIf="job.job.description">
                <td>Description:</td>
                <td>{{ job.job.description }}</td>
              </tr>
              <tr>
                <td>Status:</td>
                <td>{{ job.job.status }}</td>
              </tr>
              <tr *ngIf="job.job.job_type">
                <td>Job Type:</td>
                <td>{{ job.job.job_type }}</td>
              </tr>
              <tr *ngIf="job.job.task_type">
                <td>Task Type:</td>
                <td>{{ job.job.task_type }}</td>
              </tr>
            </table>
          </div>
          <div class="ph12 pt12" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="33.3333">
            <h3>Visits</h3>
            <table class="table-2-col">
              <tr>
                <td>Appointment Date:</td>
                <td>24/11/2017 00:00:00</td>
              </tr>
              <tr>
                <td>Appointed Engineer:</td>
                <td>ConnerL</td>
              </tr>
              <tr>
                <td>Engineer Class:</td>
                <td>Cleans</td>
              </tr>
              <tr>
                <td>Engineer Area:</td>
                <td></td>
              </tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
  </mat-paginator>