<div class="m-12" fxLayout fxLayoutWrap>
    <div
      class="p12"
      fxLayout
      fxFlex="50"
      *ngFor="let job of jobs | async"
    >
      <mat-card fxFill>
        <mat-card-title fxLayout fxLayoutAlign="start baseline">
          <a routerLink="/" >{{ job.number }}</a>
          <span>13/10/2017</span>
        </mat-card-title>
        <mat-card-content class="m-12" fxLayout fxLayoutWrap>
          <div fxFlex="100" fxFlex.gt-md="60">
            <div class="ph12 pt12">
              <h3>Customer</h3>
              <table class="table-2-col">
                <tr>
                  <td>Customer:</td>
                  <td>{{ job.site.customer }}</td>
                </tr>
              </table>
            </div>
            <div class="ph12 pt12">
              <h3>Site</h3>
              <table class="table-2-col">
                <tr>
                  <td>Customer:</td>
                  <td>{{ job.site.customer }}</td>
                </tr>
                <tr>
                  <td>Site:</td>
                  <td>{{ job.site.site }}</td>
                </tr>
              </table>
            </div>
            <div class="ph12 pt12">
              <h3>Job</h3>
              <table class="table-2-col">
                <tr *ngIf="job.number">
                  <td>Number:</td>
                  <td>{{ job.number }}</td>
                </tr>
                <tr *ngIf="job.job.description">
                  <td>Description:</td>
                  <td>{{ job.job.description }}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="ph12 pt12 text-right" fxFlex="100" fxFlex.gt-md="40">
            <table class="table-2-col prices">
              <tr>
                <td>Total Ex VAT:</td>
                <td>£0.00</td>
              </tr>
              <tr>
                <td>VAT:</td>
                <td>£0.00</td>
              </tr>
              <tr>
                <td>Total Inc VAT:</td>
                <td>£0.00</td>
              </tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
  <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
  </mat-paginator>