<div class="m-12">
  <div class="ph12" fxFlex="100" fxFlex.gt-sm="300px" fxFlexOrder.gt-sm="2">
    <mat-card-title>Filter Results</mat-card-title>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Personal data
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox>Show Jobs</mat-checkbox>
        <mat-checkbox>Show Status Updates</mat-checkbox>
        <mat-checkbox>Show Tracking Points</mat-checkbox>
      </mat-expansion-panel>
    
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Destination
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-checkbox>Engineer 1</mat-checkbox>
        <mat-checkbox>Engineer 2</mat-checkbox>
        <mat-checkbox>Engineer 3</mat-checkbox>
        <mat-checkbox>Engineer 4</mat-checkbox>
        <mat-checkbox>Engineer 5</mat-checkbox>
        <mat-checkbox>Engineer 6</mat-checkbox>
        <mat-checkbox>Engineer 7</mat-checkbox>
        <mat-checkbox>Engineer 8</mat-checkbox>
        <mat-checkbox>Engineer 9</mat-checkbox>
        <mat-checkbox>Engineer 10</mat-checkbox>
      </mat-expansion-panel>
    
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Day of the trip
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput [matDatepicker]="startDate" placeholder="Start Date">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="endDate" placeholder="End Date">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
      </mat-expansion-panel>
    
    </mat-accordion>
  </div>
  <div class="ph12" fxFlex.gt-sm="1 1 calc(100% - 324px)">
    <agm-map fxFlex="100" [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</div>

<p class="mt12">
  * If map performance is slow, try using the filters to narrow down the number of points on the map <br>
  * Please note that GPS is not accurate to the spot. So don't panic, your engineer is probably not actually in a river.
</p>